<div class="container moody">
  <div class="card">
    <div class="card-header">
      <h2 style="margin-top: 10px"><%= @category.name %></h2>
    <div class="btn-div" style="margin-right: 15px; margin-top: 5px">
      <%= link_to "Back to Categories", categories_path, class: "btn btn-outline-secondary float-right" %> 
      <%= link_to "Delete Category", category_path(@category), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger float-right" %></div>
    </div>
    <div class="card-body">
      <div class="card-container">
        <%= render partial: 'bookmarks/bookmark', collection: @category.bookmarks %>
      </div>
    </div>
    <div class="card-footer">
      <%= link_to 'New Bookmark', new_category_bookmark_path(@category), class: "btn btn-primary" %>
    </div>
  </div>
</div>

